body {
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  background: #c0dfe0;
  border: solid 20px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: mintcream;
  font-size: 1rem;
}

@media (max-width: 480px) {
  body {
    font-size: 0.75rem;
    border: solid 10px white;
    min-height: calc(100vh - 20px);
    width: calc(100vw - 20px);
  }
}

h1 {
  font-size: 8rem;
  position: relative;
  line-height: 1;
  font-family: inherit;
}

.container {
  max-width: 800px;
  text-align: center;
}

.countdown-timer {
  font-family: 'open sans', helvetica;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-top: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.event {
  font-size: 5rem;
  font-family: 'great vibes', georgia;
}

@media (max-width: 480px) {
  .event {
    font-size: 2rem;
  }
}

.days {
  position: relative;
  padding: 1em;
}

.heart {
  background-color: #ECCBD6;
  height: 1.5rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 1.5rem;
  margin: 2rem auto;
}

@media (max-width: 480px) {
  .heart {
    height: 0.75rem;
    width: 0.75rem;
  }
}

.heart:before,
.heart:after {
  content: "";
  background-color: #ECCBD6;
  border-radius: 50%;
  height: 1.5rem;
  position: absolute;
  width: 1.5rem;
}

@media (max-width: 480px) {
  .heart:before,
  .heart:after {
    height: 0.75rem;
    width: 0.75rem;
  }
}

.heart:before {
  top: -50%;
  left: 0;
}

.heart:after {
  top: 0;
  left: 50%;
}

.time {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 2rem;
  min-width: 1.5em;
}

@media (max-width: 480px) {
  .time {
    font-size: 2rem;
    margin: 0 1rem;
  }
}
