body {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

h1 {
    color: mintcream;
    font-size: 8rem;
    position: relative;
    line-height: 1;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.countdown-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.event {
    font-size: 5rem;
    color: mintcream;
    font-family: 'sue ellen francisco', georgia;
    margin-left: 1em;
}

.days {
    position: relative;
    padding: 1em;
}

.heart {
    background-color: hotpink;
    height: 10rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10rem;
    position: absolute;
    bottom: 24%;
    left: -1.5%;
}

.heart:before,
.heart:after {
    content: "";
    background-color: hotpink;
    border-radius: 50%;
    height: 10rem;
    position: absolute;
    width: 10rem;
}

.heart:before {
    top: -50%;
    left: 0;
}

.heart:after {
    top: 0;
    left: 50%;
}